@import '../colors/vars.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

.page {
  margin: 7px 140px 0;
  background: $bgColor;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
