@import '../colors/vars.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

.page {
  margin: 7px 140px 0;
  background: $bgColor;
  font-family: Verdana, Geneva, Tahoma, sans-serif;

  &__footer {
    background: $bgColor;
    padding: 15px 0;
    border-top: 3px solid $orangeColor;
    margin-top: 20px;
  }
}
