@import '../colors/vars.scss';

.story {
  font-size: 13px;
  color: $mainGrayColor;
  margin: 0 0 5px 10px;
  padding-left: 8px;
  display: flex;
  
  &__header {
    align-items: center;
    gap: 5px;
    margin-bottom: 4px;
  }
  
  &__content {
    display: flex;
    flex-direction: column;
    padding-left: 10px;
  }

  &__title {
    color: $blackColor;
    text-decoration: none;
    font-size: 13px;
    cursor: pointer;
    padding-right: 7px;
  }

  &__url {
    color: $mainGrayColor;
    font-size: 10px;
    cursor: pointer;
  }

  &__wrapp {
    display: flex;
    gap: 2px;
    font-size: 9px;
  }

  &__by {
    color: $mainGrayColor;
    cursor: pointer;
  }

  &__hours {
    color: $mainGrayColor;
    border-right: 1px solid $mainGrayColor;
    padding-right: 5px;
    margin-right: 5px;
    cursor: pointer;
  }

  &__comments {
    color: $mainGrayColor;
    cursor: pointer;
  }

  &__buttons {
    margin-left: 50px;
    display: flex;
    gap: 10px;
  }

  &__btn {
    display: flex;
    align-items: center;
    border: none;
    outline: none;
    background: transparent;
    cursor: pointer;
    transition: all 0.4s;
    font-weight: 600;
    
    &:hover {
      color: $orangeColor;
    }
  }
}
